@import url("../css/components/recycled.css");
@import url("../css/components/forms.css");
.navbar {
    background-color: #0099ffa7 !important;
    backdrop-filter: blur(3px) !important;
}
.main {
    margin-top: 15vh;
    display: inline-flex;
    flex-direction: column;
}
.options {
    background-color: #2a265f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.btn-opt {
    height: fit-content;
    background-color: #2a265f;
    color: #fff;
    padding: 1rem;
    border: none;
    font-family: "Bebas Neue", cursive;
}
.fonted {
    font-family: "Bebas Neue", cursive !important;
    font-size:20px;
}
.selected {
    background-color: #0099ffa7;
    color: #2a265f;
}
.btn-opt:hover {
    border-inline: 1px solid #fff;
    background-color: #ddd;
    color: #2a265f;
}
.panel {
    position: relative;
    display: none;
    padding: 2rem;
}
.selected-panel {
    display: inline-flex !important;
    flex-direction: column;
}
.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}
.add-staff-panel {
    width: 100%;
    display: none;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.497);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
}
